html {
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    font-size:4vmin;
}

body {
    margin: 40px auto;
    width: 90%;
}
@media(min-width:40em) {
  html {
    font-size: 120%;
  }
  body {
    max-width: 32em;
  }
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}
.cv-section a:hover {
    text-decoration: none;
}
.post a {
    color: #0366d6;
}
.post a:hover {
    color: #999;
}

h1 {
    font-size: 250%;
}
p {
    line-height: 1.2;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

pre {
    padding: 16px;
    width: auto;
    overflow: auto;
    background-color: #f6f8fa;
    font-size: 90%;
    line-height: 1.45;
}

ul.posts {
    margin: 20px auto 40px;
    line-height: 120%;
}

ul.posts li {
    list-style: none;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}